---
title: Ajax
---
<link href="css/mm-vertical.css" rel="stylesheet" type="text/css" />

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <nav class="sidebar-nav">
        {{> menu }}
      </nav>
    </div>
    <div class="col-md-9">
      <h3>Simple Ajax</h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          Code
          <span class="pull-right">
                <span class="fa fa-code"></span>
          </span>
        </div>
        <div class="panel-body">
          <button type="button" class="btn btn-info btn-lg" id="ajaxButton">
            get ajax menu
          </button>

          <p>

{{#markdown}}
  ```javascript
  $('#menu').metisMenu();

  $("#ajaxButton").one('click', function() {
    var $this = $(this);
    $.ajax({
      url: "demo-ajax.html",
      success: function(result) {

        $('#menu').metisMenu('dispose');
        $("#menu").append(result);

        $('#menu').metisMenu();
        $this.attr('disabled', 'disabled');
      }
    });
  });
  ```
{{/markdown}}

          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {

    $('#menu').metisMenu();

    $("#ajaxButton").one('click', function() {
      var $this = $(this);
      $.ajax({
        url: "demo-ajax.html",
        success: function(result) {

          $('#menu').metisMenu('dispose');
          $("#menu").append(result);

          noty({
              text: 'ajax menu appended to menu',
              layout: 'topRight',
              type: 'success',
              theme: 'metroui',
              progressBar: true,
              timeout: 2000
          });

          $('#menu').metisMenu();
          $this.attr('disabled', 'disabled');
        }
      });
    });

  });
</script>
